body {
	font-family:Verdana;
	padding:10px;
}

.screenshot {
	margin: 5px;
	border: dashed 1px gray
}

#description {
	white-space: pre-line;
	padding:10px;
}

#title {
	font-size: x-large;
	padding:10px;
}

#author {
	font-size: smaller;
	font-style:italic;
	padding:10px;
}

